.desafio1{
    color: white;
    background-color: black;
    text-align: center;
}

#lista1{
    color: white;
    background-color: green;
    text-align: center;
}

#lista2{
    color: white;
    background-color: blue;
    text-align: center;
}